body {
    font-family: 'Montserrat', sans-serif;
    @include bg-laranja;
}

a {
    text-decoration: none;
    color: #fff;
}

.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12 {
    @include d(s) {
    width: 100%;
    }
}

img {
    display: block;
    max-width: 100%;
}

header {
    position: absolute;
    top: 0;
    width: 100%;
}

.bg-banner {
    width: 100%;
    height: 130vh;
    background: url(../img/banner-topo.png) no-repeat center;
    background-size: cover;
    margin-top: 0;
    @include d(m) {
        width: 100%;
        height: 100%;
        background: url(../img/banner-topo-tablet.png) no-repeat center;
        background-size: cover;
        margin-top: 0;   
    }
    @include d(s) {
        width: 100%;
        height: 100%;
        background: url(../img/banner-topo-tablet.png) no-repeat center;
        background-size: cover;
        margin-top: 0;   
    }
}

.texto-topo {
    padding-top: 200px;
}

.img-produtos {
    width: 100%;
    padding-top: 90px;
    .produtos-topo {
        margin: 0 auto;
        @include d(m) {
            margin-bottom: -164px;
        }
        @include d(s) {
            margin-bottom: -90px;
        }
    }
}

.titulo {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 45px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.titulo-2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 50px;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    &::after {
        content: url('../img/divisor-1.png');
        display: block;
        width: 128px;
        margin: 0 auto;
        margin-top: 10px;
    }
}

.topo-telefone {
    display: flex;
    justify-content: flex-end;
    padding-top: 30px;
    .whatsapp {
        width: 15px;
        height: 15px;
        @include d(m) {
            display: none;
        }
        @include d(s) {
            display: none;
        }
    }
    .telefone {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        text-align: right;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #FFFFFF;
        padding-left: 10px;
        @include d(m) {
            display: none;
        }
        @include d(s) {
            display: none;
        }
    }
}

.menu-geral { 
    clear: both;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include d(m) {
        justify-content: center;
        margin-top: 30px;
    }
    @include d(s) {
        justify-content: center;
        margin-top: 50px;
    }
     .logo {
        width: 235px;
    }
    
    .menu {
        display: flex;
    }

    .menu-item {
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.25em;
        text-transform: uppercase;
        color: #FFFFFF;
        @include d(m) {
            display: none;
        }
        @include d(s) {
            display: none;
        }
    }
}

.menu ul li {
    display: inline-block;
    margin-left: 25px;
}

.empresa {
    width: 100%;
    height: 100%;
    background: url(../img/bg-sobre.jpg) no-repeat center;
    background-size: cover;
    margin-top: 0;
}

.empresa-blocos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 140px;
    @include d(m) {
        margin-top: 140px;
    }
    @include d(s) {
        margin-top: 90px;
    }
    .bloco-1 {
        width: 270px;
        height: 227px;
        background: rgba(255, 255, 255, 0.15);
        border-radius: 20px;
        margin: 5px 5px 0 5px ;
        @include d(m) {
            margin: 0 20px 20px 0;
        }
        @include d(s) {
            margin: 0 0 25px 0;
        }
        .subtitulo {
            font-style: normal;
            font-weight: 900;
            font-size: 30px;
            line-height: 31px;
            text-align: center;
            text-transform: uppercase;
            color: #FFFFFF;
            margin: 37px 0;
        }
        .descricao {
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 24px;
            text-align: center;
            color: #FFFFFF;
            margin: 0 16px;
        }
    }
}

.empresa-texto {
    margin: 0 auto;
    .empresa-subtitulo {
        margin: 0 auto;
        &::before {
        content: url('../img/divisor-1.png');
        clear: both;
        display: block;
        width: 128px;
        margin: 0 auto;
        margin-top: 55px;
        margin-bottom: 55px;
        }
    }
}

.empresa-subtitulo {
    text-align: center;
    .empresa-subtitulo-1 {
        font-style: normal;
        font-weight: 600;
        font-size: 47px;
        line-height: 63px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        @include d(s) {
            font-size: 36px;
        }      
    }
    .empresa-subtitulo-2 {
        font-style: normal;
        font-weight: 900;
        font-size: 61px;
        line-height: 63px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF; 
        @include d(s) {
            font-size: 49px;
        }       
    }
    .empresa-subtitulo-3 {
        font-style: normal;
        font-weight: 600;
        font-size: 51px;
        line-height: 63px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        @include d(s) {
            font-size: 42px;
        }        
    }
    .empresa-subtitulo-4 {
        font-style: normal;
        font-weight: 100;
        font-size: 45px;
        line-height: 63px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        @include d(s) {
            font-size: 36px;
        }        
    }
}

.empresa-descricao {
    display: flex;
    justify-content: center;
}

.empresa-descricao-texto {
    margin-top: 30px;
    p {
        width: 494px;
        text-align: left;
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        line-height: 27px;
        color: #FFFFFF;
        margin: 10px 0;
        padding-bottom: 10px;
        @include d(s) {
            width: 350px;
            text-align: center;
        }  
    }
    p:last-child {
        font-weight: bold;
    }
    &::after {
        content: url('../img/divisor-2.png');
        display: block;
        width: 128px;
        margin: 0 30%;
        margin-top: 55px;
        margin-bottom: 55px;
        @include d(s) {
            margin: 30px 24%;
        }  
        }
}

.pt-venda {
    width: 100%;
    height: 100%;
    @include bg-azul-escuro;
}

.pt-venda-conteudo {
    display: flex;
    justify-content: center;
    padding: 50px;
    @include d(s) {
        flex-wrap: wrap;
    }
    @include d(m) {
        flex-wrap: wrap;
    }
}

.pt-venda-texto {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 41px;
    text-transform: uppercase;
    color: #FFFFFF;
    @include d(s) {
        text-align: center;
    }
    @include d(m) {
        text-align: center;
    }
}

.pt-venda-img {
    width: 235px;
    padding-left: 20px;
    @include d(s) {
        padding-top: 20px;
    }
    @include d(m) {
        padding-top: 30px;
    }
}

// AÇAI
.produto-acai {
    width: 100%;
    height: 100%;
    @include bg-roxo;
}

.produto-acai-pai {
    display: flex;
    justify-content: center;
    @include d(s) {
        flex-wrap: wrap;
    }
}

.conteudo-produto-acai {
    position: relative;
    .produto-acai-img {
        position: absolute;
        top: 128px;
        @include d(m) {
            display: none;
        }
    }

    .produto-acai-img-2 {
        position: relative;
        width: 295px;
        margin: 84px 0 0 142px;
        z-index: 10;
        @include d(s) {
            margin: 70px 0 0 94px;
            width: 50%;
        }
        @include d(m) {
            margin: 110px 0 0 38px;
            width: 70%;
        }
    }
}

.conteudo-snack-acai {
    display: inline-block;
    margin-top: 95px;
    @include d(s) {
        margin: 10px 50px 50px;
    }
    @include d(m) {
        margin-bottom: 100px;
    }
}

.logo-snack-acai {
    width: 300px;
    margin-top: 10px;
    padding-bottom: 68px;
}

.snack-titulo {
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-bottom: 10px;
}

.snack-titulo-destaque-acai {
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 52px;
    text-transform: uppercase;
    color: #E75300;
}

.snack-lista {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 29px;
    text-transform: uppercase;
    color: #FFFFFF;
    list-style-type: circle;
    padding-left: 20px;
    margin: 20px 0;
}

.btn-snack-acai {
    width: 170px;
    height: 48px;
    background: #E75300;
    color: #fff;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 17px;
    text-align: center;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    border: none;
    border-radius: 10px;
}

// TOSTIQ
.produto-tostiq {
    width: 100%;
    height: 100%;
    @include bg-azul;
}

.produto-tostiq-pai {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @include d(s) {
        flex-wrap: wrap;
    }
}

.conteudo-produto-tostiq {
    position: relative;
    .produto-tostiq-img {
        position: absolute;
        top: 128px;
        @include d(m) {
            display: none;
        }
    }
    .produto-tostiq-img-2 {
        position: relative;
        width: 295px;
        margin: 84px 0 0 142px;
        z-index: 10;
        @include d(s) {
            margin: 70px 0 0 94px;
            width: 50%;
        }
        @include d(m) {
            margin: 110px 0 0 38px;
            width: 70%;
        }
    }
}

.conteudo-snack-tostiq {
    display: inline-block;
    margin-top: 95px;
    @include d(s) {
        margin: 10px 50px 50px;
    }
    @include d(m) {
        margin-bottom: 100px;
    }
}

.logo-snack-tostiq {
    width: 300px;
    margin-top: 10px;
    padding-bottom: 68px;
}

.snack-titulo-destaque-tostiq {
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 52px;
    text-transform: uppercase;
    color: #A6E000;
}

.btn-snack-tostiq {
    width: 170px;
    height: 48px;
    background: #A6E000;
    color: #fff;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 17px;
    text-align: center;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    border: none;
    border-radius: 10px;
}

// CHOCOLATE
.produto-chocolate {
    width: 100%;
    height: 100%;
    @include bg-amarelo-2;
}

.produto-chocolate-pai {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @include d(s) {
        flex-wrap: wrap;
    }
}

.conteudo-produto-chocolate {
    position: relative;
    .produto-chocolate-img {
        position: absolute;
        top: 128px;
        @include d(m) {
            display: none;
        }
    }
    .produto-chocolate-img-2 {
        position: relative;
        width: 295px;
        margin: 84px 0 0 142px;
        z-index: 10;
        @include d(s) {
            margin: 70px 0 0 94px;
            width: 50%;
        }
        @include d(m) {
            margin: 110px 0 0 38px;
            width: 70%;
        }
    }
}

.conteudo-snack-chocolate {
    display: inline-block;
    margin-top: 95px;
    @include d(s) {
        margin: 10px 50px 50px;
    }
    @include d(m) {
        margin-bottom: 100px;
    }
}

.logo-snack-chocolate {
    width: 300px;
    margin-top: 10px;
    padding-bottom: 68px;
}

.snack-titulo-destaque-chocolate {
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 52px;
    text-transform: uppercase;
    color: #562212;
}

.btn-snack-chocolate {
    width: 170px;
    height: 48px;
    background: #562212;
    color: #fff;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 17px;
    text-align: center;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    border: none;
    border-radius: 10px;
}

// DOCE DE LEITE
.produto-docedeleite {
    width: 100%;
    height: 100%;
    @include bg-amarelo;
}

.produto-docedeleite-pai {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @include d(s) {
        flex-wrap: wrap;
    }
}

.conteudo-produto-docedeleite {
    position: relative;
    .produto-docedeleite-img {
        position: absolute;
        top: 128px;
    }


    .produto-docedeleite-img {
        position: absolute;
        top: 128px;
        @include d(m) {
            display: none;
        }
    }
    .produto-docedeleite-img-2 {
        position: relative;
        width: 295px;
        margin: 84px 0 0 100px;
        z-index: 10;
        @include d(s) {
            margin: 70px 0 0 94px;
            width: 50%;
        }
        @include d(m) {
            margin: 110px 0 0 38px;
            width: 70%;
        }
    }
}

.conteudo-snack-docedeleite {
    display: inline-block;
    margin: 95px 0 0 40px;
    @include d(s) {
        margin: 10px 50px 0;
    }
    @include d(m) {
        margin-bottom: 100px;
    }
}

.logo-snack-docedeleite {
    width: 300px;
    margin-top: 40px;
    padding-bottom: 68px;
}

.snack-titulo-destaque-docedeleite {
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 52px;
    text-transform: uppercase;
    color: #AE3E00;
}

.btn-snack-docedeleite {
    width: 170px;
    height: 48px;
    background: #AE3E00;
    color: #fff;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 17px;
    text-align: center;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    border: none;
    border-radius: 10px;
}

// LIMÃO
.produto-limao {
    width: 100%;
    height: 100%;
    @include bg-verde;
}

.produto-limao-pai {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @include d(s) {
        flex-wrap: wrap;
    }
}

.conteudo-produto-limao {
    position: relative;
    .produto-limao-img {
        position: absolute;
        top: 128px;
        right: 30px;
        @include d(m) {
            display: none;
        }
    }
    .produto-limao-img-2 {
        position: relative;
        width: 295px;
        margin: 84px 0 0 100px;
        z-index: 10;
        @include d(s) {
            margin: 70px 0 0 94px;
            width: 50%;
        }
        @include d(m) {
            margin: 110px 0 0 38px;
            width: 70%;
        }
    }
}

.conteudo-snack-limao {
    display: inline-block;
    margin: 95px 0 0 40px;
    @include d(s) {
        margin: 70px 0 0 40px;
    }
    @include d(m) {
        margin-bottom: 100px;
    }
}

.logo-snack-limao {
    width: 300px;
    margin-top: 10px;
    padding-bottom: 68px;
}

.snack-titulo-destaque-limao {
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 52px;
    text-transform: uppercase;
    color: #008A3A;
}

.btn-snack-limao {
    width: 170px;
    height: 48px;
    background: #008A3A;
    color: #fff;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 17px;
    text-align: center;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    border: none;
    border-radius: 10px;
}

.rodape-bg {
    width: 100%;
    height: 100%;
    background: url(../img/bg-footer.png) no-repeat 50% 50%;
}

.rodape-pai {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @include d(s) {
        margin: 20px 20px;
    }
}

.logo-rodape {
    width: 200px;
    padding-top: 20px;
    @include d(m) {
        width: 100px;
        margin-top: 13px;
    }
}

.rodape-texto {
    width: 240px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 19px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 20px;
    @include d(m) {
        width: 150px;
        font-size: 10px;
    }
}

.rodape-redes ul li {
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 20px;
}

.titulo-rodape {
    margin: 30px 0 20px 0;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    @include d(m) {
        font-size: 14px;
    }
}

.rodape-lista {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    text-transform: uppercase;
    color: #FFFFFF;
    @include d(m) {
        font-size: 12px;
    }
}

.copy {
    width: 100%;
    height: 100%;
    background: #AE3E00;
}

.copy-text {
    display: flex;
    justify-content: center;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 19px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 10px 0 10px 0;
}

// MENU MOBILE e TABLET
.menu-mobile {
    position: fixed;
    background: #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    bottom: 25px;
    right: 25px;
    cursor: pointer;
    box-shadow: 0 0 0 0 #fff, 0 0 0 0 #fff;
    transition: box-shadow 1.1s cubic-bezier(.19, 1, .22, 1);
    z-index: 98;
}

.menu-mobile:hover {
    box-shadow: 0 0 0 8px #fff, 0 0 0 8px #fff;
}

.hamburguer {
    position: relative;
    display: block;
    background: #AE3E00;
    width: 30px;
    height: 3px;
    top: 29px;
    left: 15px;
    transition: .5s ease-in-out;
    &::before {
        content:"";
        background: #AE3E00;
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: -10px;
        transition: .5s ease-in-out;
    }
    &::after {
        content:"";
        background: #AE3E00;
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: -10px;
        transition: .5s ease-in-out;
    }
}

input {
    display: none;
}

input:checked ~ ul {
    opacity: 1;
    transition: .25s 0.9s cubic-bezier(0, 1.07, 0, 1.02);
}

input:checked ~ label .menu-mobile {
    box-shadow: 0 0 0 130vw #fff, 0 0 0 130vh #fff;
}

input:checked ~ label .hamburguer {
    transform: rotate(45deg);
}

input:checked ~ label .hamburguer:before {
    transform: rotate(90deg);
    top: 0;
}

input:checked ~ label .hamburguer:after {
    transform: rotate(90deg);
    bottom: 0;
}

.container-menu {
    @include d(l) {
        display: none;
    }
    ul {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: 99;
        opacity: 0;
    }
}

.menu-mobile-estilo li a {
    display: block;
    margin-bottom: 40px;
    font-size: 48px;
    color: #AE3E00;
    text-decoration: none;
    &:hover {
        font-weight: 600;
    }
}
